@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Nobile:400italic|Lato);

.container {
  font-size:100%;
  text-align: center;
}

h1 {
    padding: 0.1em 0 0.1em 0.2em;
    font: 2em 'Lato', sans-serif;
    color: #424242;
    background-image: linear-gradient(left bottom, #FF9966 0%, #FF9900 100%);
    background-image: -o-linear-gradient(left bottom, #FF9966 0%, #FF9900 100%);
    background-image: -moz-linear-gradient(left bottom, #FF9966 0%, #FF9900 100%);
    background-image: -webkit-linear-gradient(left bottom, #FF9966 0%, #FF9900 100%);
    background-image: -ms-linear-gradient(left bottom, #FF9966 0%, #FF9900 100%);
    background-image: -webkit-gradient(linear,left bottom,right top,color-stop(0, #FF9966),color-stop(1, #FF9900));
    border-bottom: 1px solid #808080;
}

h2:before {
    content: '· ';
}

h2 {
    padding: 1em;
    font: 4em 'Nobile', sans-serif;
}

h2:after {
    content: ' ·';
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1em;
  background-color: #E6E6E6;
  border-top: 1px solid #CCCCCC;
  font: 0.9em 'Helvetica', sans-serif;
  text-align: center;
  z-index: 0;
}

.footer a {
  text-decoration: none;
  color: #1C1C1C;
}

.footer a:hover {
  color: #1C1C1C;
}
